<br></br>
<div class="card-panel hoverable">
    <div class="row">
        <table id='events-table' class="striped highlight">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Event Date/Time</th>
                    <th>Event Duration</th>
                    <th>Event Description</th>
                </tr>
            </thead>

            <tbody class='table-data'></tbody>

        </table>

    </div>
    <div class="row">
        <a href="/addevent" class="btn waves-effect waves-light">
            Add an event
        </a>
    </div>
</div>
