
<br></br>
<div class= "card-panel hoverable">
     <div class="row" >
<ul id='events-target' class="list group">
    <li class= "list-group-item">No Events yet</li>
</ul>
</div>
<div class="row">
<a href ="/addevent" class= "btn waves-effect waves-light">
      Add an event
      </a>
</div>




