<br></br>

<div class= "card-panel hoverable">
     <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input  id="user_name" type="text" class="validate">
          <label for="user_name">Username</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
     </form>
  <div class= "row">
  </button>
    <button class="btn waves-effect waves-light" type="submit" name="action" id="loginForm">Log in
    <i class="material-icons right">perm_identity</i>
  </button>
  </div>
   </div>

<div class= "row">
      <p> Not yet regiesterd? Please sign up:
   <button class="btn waves-effect waves-light" type="submit" >Sign up
    <i class="material-icons right">input</i>
  </button>
  
  </div>
</div>
