<div class= "card-panel hoverable">
  <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input  id="userName" type="text" class="validate">
            <label for="userName">Username: {{userName}}</label>
        </div>
          <div class="input-field col s6">
            <input id="password" type="text" class="validate">
            <label for="passowrd">Password: {{Password}}</label>
          </div>
        </div>
     </form>
  </div>
</div>